<h1>Your Ditty feed</h1>

<br>
<br>
<ul>
<!--   <% @ditties.all.each do |ditty| %>
  <%= content_tag_for :div, ditty, class: "linkInput" do %>

	<%=	 ditty.player %> 




  <div class="players"> 


  	<%= ditty.body %></div>
    <% end %>
  <%end %> -->

<script>




</script>


</ul>

