<h1>Your Ditty feed</h1>

<br>
<br>
<ul>
  <% @ditties.all.each do |ditty| %>
  <div class="linkInput" >
<%= ditty.body %>
<%= link_to ditty.player, ditty.player %> 
  	</div>

<br>
  <div class="players"> 


  <% end %>

</ul>


