<h1>Your Ditty feed</h1>

<br>
<br>
<ul>
  <% @ditties.all.reverse.each do |ditty| %>
  <div class="linkInput" >
<%= ditty.body %>

- Posted <%= time_ago_in_words(ditty.created_at) %> ago

<%= link_to ditty.player, ditty.player %> 
  	</div>

<br>
  <div class="players"> 


  <% end %>

</ul>


